@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Onest:wght@100..900&display=swap');

/* ANIMATIONS */

@keyframes show-modal {
  from {
    opacity: 0;
    top: 49%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Onest', sans-serif;
  color: #eeeeee;
}

html {
  background-color: #3d403b;
}

body > #root > div {
  height: 96vh;
}

body,
html {
  margin: 0;
  padding: 1vh 1vw;
}

.general__container {
  display: flex;
  align-items: stretch;
  gap: 16px;
}

.properties__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;
}

.display__container {
  position: relative;
  background-color: #4a4d47;
  padding: 16px;
  border-radius: 5px;
  min-width: 242px;
  flex-grow: 1;
}

.block__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcbb8f;
  color: #74523d;
  border-radius: 5px;
  margin: 16px;
  min-height: 100px;
  width: 100px;
  flex-basis: 100px;
  font-size: 32px;
  transition:
    background-color 1s ease,
    transform 0.5s ease;
}

.container_properties__container {
  background-color: #4a4d47;
  border-radius: 5px;
  flex: 1;
}

.block__container.active.no-transition {
  transition: none !important;
}

.flexbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #4a4d47;
  border-radius: 5px;
  padding: 2rem;
}

.flexbox_input {
  margin: 0.5rem;
  accent-color: #fd944d;
  color: #eeeeee;
  width: 1rem;
  height: 1rem;
}

.active {
  background-color: #fd944d;
  flex-basis: 100px;
  box-shadow:
    inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}
.selector_button:hover {
  background-color: #fd944d;
  box-shadow:
    inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

.selector_button_active {
  background-color: #fcbb8f;
  color: #74523d;
  box-shadow:
    inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
  padding: 0.2rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  cursor: pointer;
  border: none;
  border-radius: 1px;
  transition: 0.3s;
}

.property_container {
  margin: 1.5rem 0.5rem 0 0.5rem;
}

.property_container:first-child {
  margin-top: 1rem;
}

.property_label {
  font-size: 1.1rem;
}

.selector_button {
  padding: 0.2rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  background-color: #fd944d;
  color: #74523d;
  cursor: pointer;
  border: none;
  border-radius: 1px;
  transition: 0.3s;
}

.selector_button:last-child {
  margin-right: 0;
}
.selector_button_active:last-child {
  margin-right: 0;
}

.swift_button {
  border: none;
  background-color: #4a4d47;
  font-size: 1.5rem;
  color: #fd944d;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
}

.swift_button:hover {
  color: #fd944d;
}

.swift_button:first-child:hover {
  transform: translateX(-10%);
}

.swift_button:last-child:hover {
  transform: translateX(10%);
}

.swift_container,
.radio_container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  left: 10%;
  margin-top: 0.5rem;
  gap: 3rem;
}

.swift_value {
  font-weight: 700;
  font-size: 1.3rem;
  align-self: center;
  cursor: default;
  color: #d8c7b8;
}

.radio_label {
  font-weight: 700;
  margin-left: 0.5rem;
  font-size: 1.3rem;
}

.radio_input {
  accent-color: #fd944d;
}

/*** RANGE SLIDER SECTION ***/
.range-slider {
  width: 80% !important;
}

.range-slider .range-slider__range,
.range-slider__thumb {
  background: #fd944d !important;
}

.range-slider__thumb[data-upper] {
  background-color: #fcbb8f !important;
}

.info-button {
  margin-left: 0.3rem;
  transform: scale(80%);
  cursor: pointer;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 30%;
  background-color: #3d403b;
  border: none;
  padding: 1rem;
  cursor: default;
  animation: show-modal 0.25s ease-in-out;
}

.info-modal_close-button {
  position: absolute;
  top: 5%;
  right: 2%;
  background-color: #3d403b;
  border: none;
  cursor: pointer;
}
